ul
{
    list-style: none;
    height: 35px;
    padding: 0;
    width: 210px;
    background-color: #CCC;
    color: white;
    border: 1px solid rgba(0,0,0,0.3);
}
li
{
    float: left;
    text-align: center;
    line-height: 35px;
    width: 50px;
    font-size: 0.9em;
    border-left: 1px solid rgba(250, 250, 250, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    
}
li:first-child
{
    border-left: none;
}
li:last-child
{
    border-right: none;
}